{
    "plugins": [
        "stylelint-order",
        "stylelint-scss"
    ],
    "defaultSeverity": "error",
    "extends": [
       "stylelint-config-hudochenkov",
       "stylelint-config-hudochenkov/order"
    ],
    "customSyntax": "postcss-scss",
    "rules": {
        "comment-whitespace-inside": null,
        "a11y/no-display-none": [true, {"severity": "warning"}],
        "a11y/content-property-no-static-value": [true, {"severity": "warning"}],
        "a11y/font-size-is-readable": [true, {"severity": "warning"}],
        "a11y/media-prefers-reduced-motion": [true, {"severity": "warning"}],
        "a11y/no-obsolete-attribute": [true, {"severity": "warning"}],
        "a11y/no-obsolete-element": [true, {"severity": "warning"}],
        "a11y/no-spread-text": [true, {"severity": "warning"}],
        "a11y/no-outline-none": [true, {"severity": "warning"}],
        "a11y/no-text-align-justify": [true, {"severity": "warning"}],
        "a11y/selector-pseudo-class-focus": [true, {"severity": "warning"}]
    }
}