.image-grid {
    display: flex;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;

    .modal-open & {
        padding-right: var(--scrollbar-width);
    }
}

.image-grid__column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1 1 auto;
    width: calc((100% - 2 * 20px) / 3);
    min-width: 0;
}

.image-grid__loader {
    width: 100%;
}

.image-grid__action {
    width: 100%;
    opacity: 0.01;
    height: 0;
    overflow: hidden;

    &:focus-within {
        opacity: 1;
        height: auto;
    }
}
